/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Lato', sans-serif;
  color: #FDFCFB;
}
.form-signup {
  width: 450px;
  margin: 17% auto;
}
.input {
  display: flex;
  align-items: center;
}
.button {
  height: 46px;
  border: none;
}
#visitor_email {
  width: 65%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}
#visitor_submit {
  width: 35%;
  height: 46px;
  background: #24DC24;
  font-family: inherit;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
#submit:hover {
  background: #13cb13;
}
input:focus {
  outline: none;
  outline: 2px solid #13cb13;
  box-shadow: 0 0 2px #13cb13;
}
.fade70 {
  background: rgba(255, 255, 255, 0.7);
  margin: 0px;
  margin-bottom: 20px;
  color: #2d2d2d;
  padding: 40px 0px 10px 0px;
}

h1 {
  font-size: 45px;
  font-weight: 600;
}

.tick {
  color: #24DC24;
  font-size: 30px;
  padding-right: 10px;
}

.no_bullets {
  list-style-type: none;
}

#benefits {
 padding: 30px 0px 10px;
}

#problems {
  font-size: 20px;
  padding-bottom: 10px;
}
